$bg1: #114747;
$bg2: rgb(129, 43, 2);

$fontColor1: rgb(166, 226, 225);
$fontColor2: #7AA585;
$fontColor3: #D1D0AA;

$shadow1: rgb(135, 189, 186);
$shadow2: rgb(184, 219, 193);
$shadow3: rgb(235, 234, 225);


$accentColor1: #2D8E8D;
$accentColor2: #7AA585;
$accentColor3: #D1D0AA;